.zone-btn{
    height: 26px !important;
    padding: 0 16px !important;
    line-height: 22px !important;
    color: #fff !important;
    background: linear-gradient(180deg,#e8722b,#ff9758);
    border: 2px solid #ffd68a !important;
    border-radius: 20px !important;
    font-weight: 500;
}