.input-inner {
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    background-color: transparent;
    flex: 1;

    input {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}